// Specific CSS for your home-page
main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .taglines {
    text-align: center;
    width: 45vw;
    .title {
      font-family: $landing-header;
      font-size: 48px;
      transition: all 1.1s ease;
    }
    .title-bold {
      font-family: $landing-header;
      font-size: 48px;
      transition: all 1.1s ease;
      font-weight: bold;
    }
    .subtitle {
    font-size: 24px;
    padding-bottom: 20px;
    }
  }
}


.highlight {
  font-size: 1.1rem;
  // text-transform: uppercase;
  letter-spacing: .08rem;
  color: white;
}

.page-header {
  text-align: center;
  margin: 20px 20px;
  font-size: 32px;
  font-family: $landing-header;
}

.bannerGrid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ecf1fa;
}

.grid_container1 {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.grid_container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 4vw;
}

.smallGrid {
	display: grid;
	grid-template-columns: 30% 70%;
}
.smallGridBanner {
        display: grid;
        grid-template-columns: auto auto;
}


.setUpPoolGrid {
	display: grid;
	grid-template-columns: auto auto;
}
.apeTogetherGrid {
        display: grid;
        grid-template-columns: auto auto;
}


.whatsInIt4meGrid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 2em;
}
.whatsInIt4meGridContainer {
        margin-left: 8em;
        margin-right: 8em;
        margin-bottom: 4em;
        margin-top: 2em;
}

.apeTogetheritem2 {
	display: flex;
	justify-content: center;
}

.whatsInIt4meGriditemBG {
	background-image: image-url('whatsInIt4meBG');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
	height: 50vh;
	border-radius: 0.5em;
}

.setUpPoolitem2 {
	display: flex;
 	vertical-align: middle;
}

.setUpPoolitem3 {
        display: flex;
}


.item1_1 {
	vertical-align: middle;
	display: inherit;
}
.item2_1 {
	vertical-align: middle;
	display: inherit;
}

.wp_property_text_h {
	text-align: left;
    }
.wp_property_icon {
	display: block;
	margin-left: 0;
	margin-right: 0;
    }
.section_header {
	text-align: left;
}

.oneHandleSection {
	background-color: #334058;
}

.banneritem1 {
	width: 45vw;
	margin-left: 5vw;
}
.banneritem2 {
	width: 50vw;
}

.item1_1_oneHandleSect {
	background-image: image-url('background_item1_oneHandleSect');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #334058;
	display: flex;
}

.setUpPoolSection {
	background-color: #e9f5ff;
}

.apeTogetherSection {
	background-color: #0096FA;
}

.section2 {
	background-color: #e9f5ff;
}

.section3 {
	background-color: white;
}

.section4_banner {
	background-image: image-url('communitybanner');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #ecf1fa;
}
.section4 {
	background-image: image-url('community');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-color: #334058;

}

.section5 {
	background-color: #e9f5ff;
}

.bannerh1 {
	font-size: 3rem;
	font-weight: 700;
	transition: all 1.1s ease;
}
.bannerText {
	font-size: 1rem;
	font-weight: 600;
}

@media (max-width: 540px) {
  main {
    .taglines {
      text-align: center;
      width: 80vw;
      .title {
        font-size: 36px;
        font-family: $landing-header;
      }
      p {
      font-size: 12px;
      }
    }
  }
  .section_header {
	  text-align: center;
  }

  .grid_container1 {
    grid-template-columns: auto;
  }
  .grid_container2 {
    grid-template-columns: auto;
    grid-row-gap: 4vw;
  }
  .item1_1 {
	  width: 100%;
  }
  .item2_1 {
	  width: 100%;
  }
    .wp_property_text_h {
	    text-align: center;
    }
    .wp_property_icon {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
    }
    .setUpPoolGrid {
        display: grid;
        grid-template-columns: auto;
    }
    .apeTogetherGrid {
        display: grid;
        grid-template-columns: auto;
    }
    .apeTogetheritem2 {
	grid-row-start: 1;
    }
    .setUpPoolitem2 {
	grid-row-start: 1;
    }
    .whatsInIt4meGrid {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 4em;
	grid-row-gap: 4em;
	}
    .whatsInIt4meGridContainer {
        margin-left: 4em;
        margin-right: 4em;
        justify-content: center;
    }
    .whatsInIt4meGriditemBG {
        background-image: image-url('whatsInIt4meBG');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        height: 30vh;
        border-radius: 0.5em;
    }
    .bannerGrid {
      display: grid;
      grid-template-columns: auto;
      background-color: #ecf1fa;
    }
    .banneritem1 {
        width: 95vw;
        align-items: center;
    }
    .banneritem2 {
        width: 100vw;
	align-items: center;
    }


}



