<div class="container">
<section class="imprint-wrapper">
<div class="grid-row">
<div class="inner">
<article>
<h1 class="page-header">Impressum</h1>
<h2>Betreiber der WunderPass Webseite</h2>
<p>
DLT Labs GmbH<br>Stresemannstr. 121<br>10963 Berlin
</p>
<h2>Kontakt</h2>
<p>
E-Mail: info@wunderpass.io<br>
Verantwortlich für den Inhalt: Gerwin Fricke, Slava Tschurilin<br>
Handelsregister: Amtsgericht Charlottenburg HRB 229899 B <br>
</p>
<h2>Haftungsausschluss</h2>
<h3>Haftung für Inhalte</h3>
<p>Der Inhalt dieser Seite wurde gewissenhaft zusammengestellt. Dennoch können wir keine Haftung für die Aktualität, Vollständigkeit und Richtigkeit der Inhalte übernehmen.</p><p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<h3>Haftung für Links</h3>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Vorbehaltlich etwaiger Satz-, Druck- oder Tippfehler. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Bei Bekanntwerden einer solchen Rechtsverletzung wird der Link umgehend entfernen.</p>
<h3>Urheberrecht</h3>
<p>Die auf dieser Webseite veröffentlichten Inhalte, Werke und bereitgestellten Informationen unterliegen dem deutschen Urheberrecht und Leistungsschutzrecht. Jede Art der Vervielfältigung, Bearbeitung, Verbreitung, Einspeicherung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedarf der vorherigen schriftlichen Zustimmung des jeweiligen Rechteinhabers. Das unerlaubte Kopieren/Speichern der bereitgestellten Informationen auf diesen Webseiten ist nicht gestattet und strafbar.</p>
</article>
</div>
</div>
</section>
</div>
